body {
    background-color: #E2913A;
}
.at-all{
    font-size: 45px;
    font-family: "font-family: 'Oswald', sans-serif;";
    text-align: center;
    background-color: rgba(68, 40, 76, 0.96);
    color: #4A5817;
    font-family: Impact;

}

.text-web {

}



.form-check {
    margin-right: 5px;
    margin-left: 5px;
}





